.filterContainer {
  width: 100%;


  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.2rem;

  margin-bottom: 75px;
  margin-top: 15px;
  padding-right: 15px;

}

.input {
  padding: 0.5rem;

  border-radius: 0.2rem;
  border-width: 1px;
  border-color: rgba(221, 221, 221, 0.596);

  &:focus {
    outline: none;
  }
}