.navbar {
  width: 100%;
  height: auto;

  padding: 1rem;
  margin-bottom: 75px;
  border-bottom: 1px solid rgba(124, 124, 124, 0.233);

  color: rgb(85, 148, 199);
  font-size: 20px;
  font-weight: 600;
}